body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
.side-bar{
    width: 400px;
    height: 100vh;
    background-color: #3b689b;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    overflow: visible;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.side-bar-header{
    color:white;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
#highlighted-link{
    color:white;
    background-color: #3b689b;

}
.side-bar-links{
    margin-bottom: 10px;
    color:#000000;
    font-size: 16pt;
    padding-left: 40px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: flex;         /* Flexbox for inner content */
    justify-content: left; /* Center inner content horizontally */
    align-items: center;
    text-align: left;
    text-decoration: none;
    gap: 30px
}
.side-bar-links:hover{
    color:black;
    background-color: #4178b6;
}
.side-bar-logout{
    margin-top: 80px;
    background-color: transparent;
    color:#000000;
    font-size: 16pt;
    display: flex;         /* Flexbox for inner content */
    justify-content: left; /* Center inner content horizontally */
    align-items: center;
    padding-left: 40px;
    text-align: left;
    text-decoration: none;
    gap: 30px
}
.divider{
    display: block;
    width: 80%;
    height: 1px;
    background-color: transparent;
    border-top: 1px solid #ffffff;
    padding: 5px;
    margin: 50px auto;
}
.logo
{
    margin-top: 50px;
    width: 70%;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    margin-left: 60px;
}
.icons
{
    width: 8%;
}