/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Center the container on the page */


.signup-container {
    background-color: #3B689B;
    padding: 30px 40px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1.25rem;
    text-align: left;
}

.form-group label {
    font-size: 0.9rem;
    color: #555555;
    margin-bottom: 0.25rem;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #dddddd;
    border-radius: 40px;
}

.submit-button {
    background-color: #ffffff; /* Complementing blue */
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #C0DDFF; /* Darker blue on hover */
}

.feedback {
    color: red;
    display: none;
}

p {
    margin-top: 1rem;
    color: #000000;
}

p a {
    color: #4d79ff; /* Matching blue color for link */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.signup-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
